@using CommerceFrontEndSite.Features.Cart
@model CartPageViewModel
<h2 @Html.EditAttributes(m => m.CurrentContent.MetaTitle)>
    @(Model.CurrentContent.MetaTitle ?? Model.CurrentContent.Name)
</h2>
<div>
    No cart found.
</div>